body{
  background: #003049;
}

h1{
  margin: auto;
  width: 50%;
  color: #f8b160;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h2{
  margin: auto;
  width: 50%;
  color: #d62828;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 1%;
}

#about {
  background: #db7100;
  margin: auto;
  -webkit-box-shadow: -5px 5px 2px 0px #000000; 
  box-shadow: -5px 5px 2px 0px #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  word-spacing: 2px;
  color: #003049;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 1%;
  text-align: center;
  width: 50%;

}
#favourite_thread{
  background: #f3d320;
  margin: auto;
  -webkit-box-shadow: -5px 5px 2px 0px #000000; 
  box-shadow: -5px 5px 2px 0px #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  word-spacing: 2px;
  color: #003049;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 1%;
  text-align: center;
  width: 30%;
}

#thread{
  background: #db7100;
  margin: auto;
  -webkit-box-shadow: -5px 5px 2px 0px #000000; 
  box-shadow: -5px 5px 2px 0px #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  word-spacing: 2px;
  color: #003049;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 1%;
  text-align: center;
  width: 30%;
}


.myButton {
  color: #003049;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  text-transform: none;
  background: #d62828;
  border: 2px solid #003049;
  display: inline-block;
}
.myButton:hover {
  background: #003049;
  color: #d62828;
}
.myButton:active {
  background: #fcbf49; 
}